/*
 *	Its not part of the framework! Only for test purpose!
 */

$gray: #4f4f4f;
$light-gray: #c1c1c1;
$dirty-white: #eaeaea;
$hover-gray: #9f9f9f;

body {
	margin: 0;
}

header {
	text-align: center;
	margin: 0;
	height: 150px;
	width: 100%;
	background-color: $gray;
	color: white;
}

h1 {
	padding: 50px;
	margin: 0;
}

h2 {
	padding: 10px;
	text-align: center;
}

hr {
	width: 90%;
	margin: 30px auto;
	color: $light-gray;
	border-style: solid;
}

.main-container {
	padding-bottom: 100px;
	max-width: 1024px;
	margin: auto;
}

.feature {
	padding: 10px;
	width: 80%;
	margin: auto;
}

.line {
	width: 100%;
	height: 25px;
	margin: 10px;
	border: 1px solid $gray;
	border-radius: 10px;
	background-color: $dirty-white;

	.element {
		height: 100%;
		border-radius: 10px;
		background-color: $light-gray;
		text-align: center;
		font-size: 1.3em;
		color: white;
		cursor: default;
		-webkit-transition-duration: 0.3s;
		-moz-transition-duration: 0.3s;
		-o-transition-duration: 0.3s;
		transition-duration: 0.3s;

		&:hover {
			background-color: lighten($light-gray, 5%);

			span {
				display: none;
			}

			&:after {
				content: attr(title);
			}
		}
	}
}