/*
 * SimpleOneCss - A lightweight css3 framework
 * 
 * Created by : White Rabbit
 *
 * This is the uncompiled version. Use it, if you have the proper compiler!
 * Otherwise choose the one with the same name and css extension or the minified version.
 *
 */

//VARIABLES
$white: #ffffff;
$gray: #4f4f4f;
$dirty-white: #eaeaea;
$hover-gray: #9f9f9f;
$light-gray: #c1c1c1;
$green: #2B9464;
$yellow: #FFC300;
$red: #f73500;
$light-blue: #00C8F8;
$dark-blue: #3B5998;

$font-family: "Trebuchet MS", Helvetica, sans-serif;

$btn-types:   (primary: $dark-blue, info: $light-blue, warning: $yellow, error: $red, success: $green);
$input-types: (required: $dark-blue, optional: $light-blue, warning: $yellow, invalid: $red, valid: $green);
$table-types: (active: $gray, info: $light-blue, warning: $yellow, danger: $red, success: $green);
$sizes:       (xs-sized: 1, s-sized: 2, l-sized: 4, xl-sized: 5);

//
// MIXINS
//
// COLORS
@mixin btn-colors($color) {
	border-color: $color;
	color: $color;
		
	&:hover {
		background-color: $color;
		color: $white;
		position: relative;

		&[title]:before {
			content: attr(title);
			position: absolute;
			padding: 10px;
			left: -25%; 
			bottom: 120%;
			width: 150%;
			z-index: 10;
			border: 1px solid $color;
			border-radius: 6px;
			background-color: $white;
			color: $color;
		}
	}

	&:active {
		background-color: lighten($color, 20%);
		color: $white;
	}

	&:disabled {
		background-color: transparent;
		border-color: lighten($color, 25%);
		color: lighten($color, 25%);
		cursor: no-drop;
	}
}

@mixin input-colors($color) {
	border-color: $color;

	@include placeholder-color($color);

	&:focus:not([type='checkbox']):not([type='radio']),
	 {
		@include box-shadow(0px 0px 10px 0px $color);
		@include placeholder-color(transparent);
	}
}

@mixin label-colors($color) {
	color: $color;
}

@mixin table-colors($color) {
	background-color: lighten($color, 36%);
	
	& td {
		border-color: white;
	}
}

@mixin table-hover-colors($color) {
	&:hover {
		background-color: lighten($color, 25%);
	}
}

// It need 4KB space in minified version after generated all possible transition-duration, so i commented it out!
@mixin placeholder-color($color) {
	&::-webkit-input-placeholder {
		//@include transition-duration(0.2s);
		color: $color;
	}
	&::-moz-placeholder { 
		//@include transition-duration(0.2s);
		color: $color;
	}
	&:-ms-input-placeholder { 
		//@include transition-duration(0.2s);
		color: $color;
	}
}

// SIZE
@mixin btn-size($size) {
	padding: 2px + (2px * $size) 4px + (4px * $size);
	border-width: 1px + (1px * $size);
	border-radius: 2px + (2px * $size);
	font-size: 0.75em + (0.25em * $size);
}

@mixin input-size($size){
	width: 50px + (100px * $size);

	&[type='checkbox'],
	&[type='radio'] {
		margin-left: 15px * $size - 170px;
		margin-right: 15px * $size - 145px;

		&.inline,
		.form-container.inline & {
			width: 50px * $size + 150px;
			padding: 6px 12px;
		}
	}
}

@mixin label-size($size){
	width: 60px + (40px * $size);
}

// OTHERS
/*
*	$hl => Horizontal length
*	$vl => Vertical length
*	$br => Blur radius
*	$sr => Spread radius
*/
@mixin box-shadow($value...) {
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	box-shadow: $value;
}

@mixin transition-duration($duration) {
	-webkit-transition-duration: $duration;
	-moz-transition-duration: $duration;
	-o-transition-duration: $duration;
	transition-duration: $duration; 
}

@mixin transition($value...) {
	-webkit-transition: $value;
	-moz-transition: $value;
	-o-transition: $value;
	transition: $value; 
}

//
// STYLE ELEMENTS
//
// BUTTONS
.btn {
	background-color: transparent;
	cursor: pointer;
	border-style: solid;
	outline: 0;
	font-family: $font-family;

	@include transition-duration(0.3s);
	@include btn-size(3);
	@include btn-colors($gray);

	@each $class, $size in $sizes {
		&.#{$class} {
			@include btn-size($size);
		}
	}

	@each $class, $color in $btn-types {
		&.#{$class} {
			@include btn-colors($color);
		}
	}
}

//Forms
.input {
	margin: 12px;
	padding: 6px 12px;
	border-radius: 4px;
	border-style: solid;
	border-width: 2px;
	font-size: 1em;
	display: block;
	outline: 0;
	
	@include transition-duration(0.3s);
	@include input-colors($light-gray);
	@include input-size(3);

	@each $class, $size in $sizes {
		&.#{$class},
		.form-container.#{$class} & {
			@include input-size($size);
		}
	}

	@each $class, $color in $input-types {
		&.#{$class},
		.form-container.#{$class} & {
			@include input-colors($color);
		}
	}
}

.label {
	text-align: left;
	padding-left: 15px;

	@include label-size(3);

	&.text-right {
		text-align: right;
	}

	@each $class, $size in $sizes {
		&.#{$class},
		.form-container.#{$class} & {
			@include label-size($size);
		}
	}

	@each $class, $color in $input-types {
		&.#{$class},
		.form-container.#{$class} & {
			@include label-colors($color);
		}
	}
}

.input,
.label {

	&.inline,
	.form-container.inline & {
		display: inline-block;
	}
}

textarea.input {
	@include transition(box-shadow 0.3s, -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s);
}

.form-container {
	font-family: $font-family;
	padding: 6px 0;
}

.table {
	text-align: left;
	width: 100%;
	border-spacing: 0;

	& th {
		border-bottom: 2px solid $light-gray;
	}

	& td {
		border-bottom: 1px solid $light-gray;
	}

	& td, & th {
		padding: 6px 10px;
	}

	@each $class, $color in $table-types {
		& tr.#{$class} {
			@include table-colors($color);
		}
	}

	&.hover {

		& tbody > tr {
			@include table-hover-colors($hover-gray);
		}

		@each $class, $color in $table-types {
			& tr.#{$class} {
				@include table-hover-colors($color);
			}
		}
	}

	&.stripped {

		& tbody > tr:nth-child(2n+0) {
			background-color: lighten($dirty-white, 5%);
		}
	}

	&.bordered {

		& th {
			border-top: 1px solid $light-gray;
			border-left: 1px solid $light-gray;
			border-bottom: 2px solid $light-gray;

			&:last-child {
				border-right: 1px solid $light-gray;
			}
		}

		& tbody td {
			border-left: 1px solid $light-gray;
			border-bottom: 1px solid $light-gray;

			&:last-child {
				border-right: 1px solid $light-gray;
			}
		}
	}
}

input.toggle[type='radio'],
input.toggle[type='checkbox'] {
	display: none;
}


.navtab {
	position: relative;
	margin: 16px 16px 100px 16px;
	padding: 6px;
	min-height: 100px;

	li {
		display: inline-block;

		&:first-of-type {
			margin-left: 40px;
		}
	}

	.tab-label {
		@extend .btn;
	}

	.tab-content {
		@include transition-duration(0.5s);
		position: absolute;
		height: 0;
		left: 0;
		margin: 14px;
		padding: 10px;
		z-index: 10;
		border: 2px solid transparent;
		border-radius: 10px;
		color: transparent;
	}

	.toggle:checked ~ .tab-content {
		overflow: auto;
		border-color: $gray;
		height: 100%;
		color: black;
	}

	.toggle:checked ~ .tab-label {
		text-decoration: underline;
	}

	&.pills .toggle:checked ~ .tab-label {
		border: 10px solid transparent;
	}

	&.tabs .toggle:checked ~ .tab-label {
		border-bottom: none;
		z-index: 100;
		padding-bottom: 14px;
		border-radius: 8px 8px 0 0;
	}
}

.navbar {
	background-color: $dirty-white;
	padding-left: 20px;

	&.fixed-top,
	&.fixed-bottom {
		position: fixed;
		width: 100%;
		left: 0;
	}

	&.fixed-top {
		top: 0;
	}

	&.fixed-bottom {
		bottom: 0;
	}

	.menu,
	.title {
		display: inline-block;
		cursor: pointer;
		margin: 0 32px;
	}

	.title {
		padding: 16px 24px;
		font-size: 1.5em;

		&:hover {
			text-decoration: underline;
		}
	}

	.menu {
		padding: 0;
		list-style-type: none;

		& > li {
			position: relative;
			display: inline-block;

			& > a,
			.dropdown {
				@include transition-duration(0.3s);
				padding: 24px 16px 16px 16px;
				color: $gray;
				text-decoration: none;
				border-bottom: 3px solid transparent;

				&:hover {
					color: white;
					background-color: $light-gray;
					border-bottom-color: $gray;
				}
			}

			&.active > a,
			&.active .dropdown {
				color: white;
				background-color: $gray;
				border-bottom-color: black;

				&:hover {
					background-color: $light-gray;
				}
			}
		}
	}

	.toggle ~ .submenu,
	.hover ~ .submenu {
		display: none;
	}

	.dropdown {
		cursor: pointer;
	}

	.toggle:checked ~ .submenu,
	.hover:hover ~ .submenu,
	.hover ~ .submenu:hover {
		display: block;
		position: absolute;
		margin-top: 18px;
		padding: 0;
		left: 0;
		top: 100%;
		border: 1px solid $dirty-white;

		li {
			background-color: lighten($dirty-white, 10%);
			display: inline-block;
			min-width: 150px;
			height: 100%;
			padding: 6px 12px;
			border: 2px solid transparent;

			a {
				padding: 12px 6px;
				text-decoration: none;
				color: $gray;
			}

			&:hover {
				border-left: 2px solid $gray;
				background-color: $dirty-white;
			}
		}

		.active {
			border-left: 2px solid $gray;
			background-color: $light-gray;	
		}
	}
}