/*
 * SimpleOneCss - A lightweight css3 framework
 *
 * Created by : White Rabbit
 *
 * This is the uncompiled version. Use it, if you have the proper compiler!
 * Otherwise choose the one with the same name and css extension or the minified version.
 *
 */

//VARIABLES
$white: #ffffff;
$black: #000000;
$dark-gray: #2f2f2f;
$gray: #4f4f4f;
$dirty-white: #eaeaea;
$hover-gray: #9f9f9f;
$light-gray: #c1c1c1;
$green: #2B9464;
$yellow: #FFC300;
$red: #f73500;
$light-blue: #00C8F8;
$dark-blue: #3B5998;

$btn-types:   (primary: $dark-blue, info: $light-blue, warning: $yellow, error: $red, success: $green);
$label-types: (primary: $dark-blue, info: $light-blue, warning: $yellow, error: $red, success: $green);
$progressbar-types: (primary: $dark-blue, info: $light-blue, warning: $yellow, error: $red, success: $green);
$input-types: (required: $dark-blue, optional: $light-blue, warning: $yellow, invalid: $red, valid: $green);
$table-types: (active: $gray, info: $light-blue, warning: $yellow, danger: $red, success: $green);
$sizes:       (xs-sized: 1, s-sized: 2, l-sized: 4, xl-sized: 5);

//
// MIXINS
//
// COLORS
@mixin btn-colors($color) {
	border-color: $color;
	color: $color;
		
	&:hover {
		background-color: $color;
		color: $white;
		position: relative;

		&[title]:before {
			content: attr(title);
			position: absolute;
			padding: 10px;
			left: -25%;
			bottom: 120%;
			width: 150%;
			z-index: 10;
			border: 1px solid $color;
			border-radius: 6px;
			background-color: $white;
			color: $color;
		}
	}

	&:active {
		background-color: lighten($color, 20%);
		color: $white;
	}

	&:disabled {
		background-color: transparent;
		border-color: lighten($color, 25%);
		color: lighten($color, 25%);
		cursor: no-drop;
	}
}

@mixin input-colors($color) {
	border-color: $color;

	@include placeholder-color($color);

	&:focus:not([type='checkbox']):not([type='radio']),
	 {
		@include box-shadow(0px 0px 10px 0px $color);
		@include placeholder-color(transparent);
	}
}

@mixin label-colors($color) {
	color: $color;
}

@mixin table-colors($color) {
	background-color: lighten($color, 36%);
	
	& td {
		border-color: white;
	}
}

@mixin table-hover-colors($color) {
	&:hover {
		background-color: lighten($color, 25%);
	}
}

// It need 4KB space in minified version after generated all possible transition-duration, so i commented it out!
@mixin placeholder-color($color) {
	&::-webkit-input-placeholder {
		//@include transition-duration(0.2s);
		color: $color;
	}
	&::-moz-placeholder {
		//@include transition-duration(0.2s);
		color: $color;
	}
	&:-ms-input-placeholder {
		//@include transition-duration(0.2s);
		color: $color;
	}
}

// SIZE
@mixin btn-size($size) {
	padding: 2px + (2px * $size) 4px + (4px * $size);
	border-width: 1px + (1px * $size);
	border-radius: 2px + (2px * $size);
	font-size: 0.75em + (0.25em * $size);
}

@mixin input-size($size){
	width: 50px + (100px * $size);

	&[type='checkbox'],
	&[type='radio'] {
		margin-left: 15px * $size - 170px;
		margin-right: 15px * $size - 145px;

		&.inline,
		.form-container.inline & {
			width: 50px * $size + 150px;
			padding: 6px 12px;
		}
	}
}

@mixin label-size($size){
	width: 60px + (40px * $size);
}

@mixin container-size($size){
	border-radius: 6px * $size;
	padding: (6px * $size) (12px * $size);
	font-size: 0.7em + (0.15em * $size);
}

// OTHERS
/*
*	$hl => Horizontal length
*	$vl => Vertical length
*	$br => Blur radius
*	$sr => Spread radius
*/
@mixin box-shadow($value...) {
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	box-shadow: $value;
}

@mixin transition-duration($duration) {
	-webkit-transition-duration: $duration;
	-moz-transition-duration: $duration;
	-o-transition-duration: $duration;
	transition-duration: $duration;
}

@mixin transition($value...) {
	-webkit-transition: $value;
	-moz-transition: $value;
	-o-transition: $value;
	transition: $value;
}

@mixin animation($value...) {
	-webkit-animation: $value;
    animation: $value;
}


@-webkit-keyframes stripes {
   from {background-position:40px 0}
   to {background-position:0 0}
}

@keyframes stripes {
   from {background-position:40px 0}
   to {background-position:0 0}
}

//
// STYLE ELEMENTS
//
// BUTTONS
.btn {
	background-color: transparent;
	cursor: pointer;
	border-style: solid;
	outline: 0;

	@include transition-duration(0.3s);
	@include btn-size(3);
	@include btn-colors($gray);

	@each $class, $size in $sizes {
		&.#{$class} {
			@include btn-size($size);
		}
	}

	@each $class, $color in $btn-types {
		&.#{$class} {
			@include btn-colors($color);
		}
	}
}

//Forms
.input {
	margin: 12px;
	padding: 6px 12px;
	border-radius: 4px;
	border-style: solid;
	border-width: 2px;
	font-size: 1em;
	display: block;
	outline: 0;
	
	@include transition-duration(0.3s);
	@include input-colors($light-gray);
	@include input-size(3);

	@each $class, $size in $sizes {
		&.#{$class},
		.form-container.#{$class} & {
			@include input-size($size);
		}
	}

	@each $class, $color in $input-types {
		&.#{$class},
		.form-container.#{$class} & {
			@include input-colors($color);
		}
	}
}

.label {
	text-align: left;
	padding-left: 15px;

	@include label-size(3);

	&.text-right {
		text-align: right;
	}

	@each $class, $size in $sizes {
		&.#{$class},
		.form-container.#{$class} & {
			@include label-size($size);
		}
	}

	@each $class, $color in $input-types {
		&.#{$class},
		.form-container.#{$class} & {
			@include label-colors($color);
		}
	}
}

.input,
.label {

	&.inline,
	.form-container.inline & {
		display: inline-block;
	}
}

textarea.input {
	@include transition(box-shadow 0.3s, -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s);
}

.form-container {
	padding: 6px 0;
}

.table {
	text-align: left;
	width: 100%;
	border-spacing: 0;

	& th {
		border-bottom: 2px solid $light-gray;
	}

	& td {
		border-bottom: 1px solid $light-gray;
	}

	& td, & th {
		padding: 6px 10px;
	}

	@each $class, $color in $table-types {
		& tr.#{$class} {
			@include table-colors($color);
		}
	}

	&.hover {

		& tbody > tr {
			@include table-hover-colors($hover-gray);
		}

		@each $class, $color in $table-types {
			& tr.#{$class} {
				@include table-hover-colors($color);
			}
		}
	}

	&.stripped {

		& tbody > tr:nth-child(2n+0) {
			background-color: lighten($dirty-white, 5%);
		}
	}

	&.bordered {

		& th {
			border-top: 1px solid $light-gray;
			border-left: 1px solid $light-gray;
			border-bottom: 2px solid $light-gray;

			&:last-child {
				border-right: 1px solid $light-gray;
			}
		}

		& tbody td {
			border-left: 1px solid $light-gray;
			border-bottom: 1px solid $light-gray;

			&:last-child {
				border-right: 1px solid $light-gray;
			}
		}
	}
}

input.toggle[type='radio'],
input.toggle[type='checkbox'] {
	display: none;
}


.navtab {
	position: relative;
	margin: 16px 16px 100px 16px;
	padding: 6px;
	min-height: 100px;

	li {
		display: inline-block;

		&:first-of-type {
			margin-left: 40px;
		}
	}

	.tab-label {
		@extend .btn;
	}

	.toggle ~ .tab-content {
		@include transition-duration(0.5s);
		overflow: hidden;
		position: absolute;
		height: 0;
		left: 0;
		margin: 14px;
		padding: 10px;
		z-index: 10;
		border: 2px solid transparent;
		border-radius: 10px;
		color: transparent;
	}

	.toggle:checked ~ .tab-content {
		border-color: $gray;
		height: 100%;
		color: black;
	}

	.toggle:checked ~ .tab-label {
		text-decoration: underline;
	}

	&.pills .toggle:checked ~ .tab-label {
		border: 10px solid transparent;
	}

	&.tabs .toggle:checked ~ .tab-label {
		border-bottom: none;
		z-index: 100;
		padding-bottom: 14px;
		border-radius: 8px 8px 0 0;
	}
}

.navbar {
	background-color: $dirty-white;
	padding-left: 20px;

	&.fixed-top,
	&.fixed-bottom {
		position: fixed;
		width: 100%;
		left: 0;
	}

	&.fixed-top {
		top: 0;
	}

	&.fixed-bottom {
		bottom: 0;
	}

	.menu,
	.title {
		display: inline-block;
		cursor: pointer;
		margin: 0 32px;
	}

	.title {
		padding: 16px 24px;
		font-size: 1.5em;

		&:hover {
			text-decoration: underline;
		}
	}

	.menu {
		padding: 0;
		list-style-type: none;

		& > li {
			position: relative;
			display: inline-block;

			& > a,
			.dropdown {
				@include transition-duration(0.3s);
				padding: 24px 16px 16px 16px;
				color: $gray;
				text-decoration: none;
				border-bottom: 3px solid transparent;

				&:hover {
					color: white;
					background-color: $light-gray;
					border-bottom-color: $gray;
				}
			}

			&.active > a,
			&.active .dropdown {
				color: white;
				background-color: $gray;
				border-bottom-color: black;

				&:hover {
					background-color: $light-gray;
				}
			}
		}
	}

	.toggle ~ .submenu,
	.hover ~ .submenu {
		display: none;
	}

	.dropdown {
		cursor: pointer;
	}

	.toggle:checked ~ .submenu,
	.hover:hover ~ .submenu,
	.hover ~ .submenu:hover {
		display: block;
		position: absolute;
		margin-top: 18px;
		padding: 0;
		left: 0;
		top: 100%;
		border: 1px solid $dirty-white;

		li {
			background-color: lighten($dirty-white, 10%);
			display: inline-block;
			min-width: 150px;
			height: 100%;
			padding: 6px 12px;
			border: 2px solid transparent;

			a {
				padding: 12px 6px;
				text-decoration: none;
				color: $gray;
			}

			&:hover {
				border-left: 2px solid $gray;
				background-color: $dirty-white;
			}
		}

		.active {
			border-left: 2px solid $gray;
			background-color: $light-gray;
		}
	}
}

.list {
	list-style-type: none;
	padding: 16px 8px;

	li {
		padding: 12px 24px;
		margin: 12px;
	}

	&.border {

		li {
			border: 1px solid $light-gray;
			border-radius: 4px;
		}

		&.hover li:hover {
			background-color: lighten($light-gray, 20%);
		}
	}

	&.box {
		padding: 32px 16px;
		border: 1px solid $light-gray;
		border-radius: 4px;

		li {
			border-bottom: 1px solid transparentize($light-gray, 0.5);
			margin: 0 12px;
			padding: 16px 24px;

			&:first-of-type {
				border-top: 1px solid transparentize($light-gray, 0.5);
			}
		}

		&.hover li:hover {
			background-color: lighten($light-gray, 20%);
		}
	}
}

.outer-1 {

}

@each $i-out in (1, 2, 3, 4, 5) {
	.outer-#{$i-out} {

		@each $i-in in (1, 2, 3, 4, 5) {
			.inner-#{$i-in} {
				width: (100% / $i-out) * $i-in;
				display: inline-block;
			}
		}

		@each $i-in in (1, 2, 3, 4) {
			.offset-#{$i-in} {
				margin-left: (100% / $i-out) * $i-in;
			}
		}
	}
}

.sources {
	font-family: monospace;
	counter-reset: section;
	padding: 12px 18px;

	&.code-container {
		border: 1px solid $gray;
		border-radius: 16px;
		background-color: $dirty-white;
	}

	span {
		white-space: pre-wrap;
		display: block;
	}

	&.rownumbers span {
		counter-increment: section;

		&:before {
			content: counter(section) ".	";
			color: $light-gray;
		}
	}
}

.toggle-box {
	border: 1px solid $light-gray;
	border-radius: 6px;
	padding: 6px 12px;

	.wrapper {
		margin: 6px;
		padding: 6px;
		border-bottom: 1px solid $dirty-white;

		&:last-child {
			border-bottom: none;
		}
	}

	.toggle ~ .box-content {
		@include transition-duration(0.5s);
		margin: 0 3px;
		height: 0;
		color: transparent;
		overflow: hidden;
	}

	.toggle ~ .box-label {
		cursor: pointer;
		font-size: 1.25em;
	}

	.toggle:checked ~ .box-content {
		padding-top: 12px;
		min-height: 150px;
		color: black;
	}

	.toggle:checked ~ .box-label {
		text-decoration: underline;
	}
}

.breadcrumb {
	list-style-type: none;
	width: 100%;
	margin: 6px 12px;
	padding: 12px 24px;
	font-size: 1.5em;

	&.border {
		border-radius: 10px;
		border: 1px solid $dirty-white;
	}

	li {
		display: inline-block;

		&.active,
		.active {
			color: $gray;
		}

		a {
			@include transition-duration(0.5s);
			color: darken($light-gray, 10%);
			text-decoration: none;

			&:hover {
				color: $dark-gray;
				text-decoration: underline;
			}
		}
	}

	& li:not(:last-of-type):after {
		margin: 0 10px 0 20px;
		padding: 6px;
	}

	& li:not(:last-of-type):after {
		content: '/';
	}

	&.dots li:not(:last-of-type):after {
		content: '.';
	}

	&.lines li:not(:last-of-type):after {
		content: '--';
		letter-spacing: -3px;
	}

	&.pipes li:not(:last-of-type):after {
		content: '|';
	}
}

.pagination {
	list-style-type: none;

	ul {
		display: inline-block;
	}

	li {
		display: inline;

		&.active a {
			background-color: $light-gray;
			color: $white;

			&:hover {
				background-color: $gray;
				text-decoration: underline;
			}
		}

		&.disabled a {
			border-color: $dirty-white;
			cursor: not-allowed;
		}

		&:not(.disabled):not(.active) a:hover {
			color: $white;
			background-color: $gray;
			text-decoration: underline;
		}

		a {
			@include transition-duration(0.5s);
			border: 1px solid $light-gray;
			border-radius: 6px;
			padding: 6px 12px;
			font-size: 1.25em;
			font-weight: bolder;
			color: darken($light-gray, 10%);
			text-decoration: none;
		}
	}

	&.rounded a {
		border-radius: 100%;
	}
}

.badge {
	padding: 6px 12px;
	margin: 6px;
	color: $white;
	background-color: $light-gray;
	border-radius: 6px;

	@each $class, $color in $label-types {
		&.#{$class} {
			background-color: $color;
		}
	}
}

.container {
	background-color: lighten($dirty-white, 7%);
	border: 1px solid $gray;
	margin: 24px 12px;

	@include container-size(3);

	@each $class, $size in $sizes {
		&.#{$class} {
			@include container-size($size);
		}
	}
}

.alert {
	margin: 12px 6px;
	padding: 24px;
	text-align: center;
	vertical-align: middle;
	border-radius: 8px;
	color: $white;
	border: 2px solid $gray;
	background-color: lighten($gray, 10%);
	@include transition-duration(0.5s);

	@each $class, $color in $label-types {
		&.#{$class} {
			border-color: $color;
			background-color: lighten($color, 10%);

			&:hover {
				background-color: $color;
			}
		}
	}

	&:hover {
		background-color: $gray;
	}
}

.progress {
	width: 100%;
	height: 30px;
	margin: 12px 6px;
	background-color: $dirty-white;
	border-radius: 12px;
	overflow: hidden;

	.bar {
		height: 100%;
		display: inline-block;
		background-color: $gray;

		@include transition-duration(0.3s);

		@each $class, $color in $progressbar-types {
			&.#{$class} {
				background-color: $color;

			}
		}

		.indicator {
			padding: 6px;
			color: $white;
			display: block;
			text-align: center;
		}

		&.stripped {
			background-size: 40px 40px;
			background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);

			&.animated {
				@include animation(stripes 1s linear infinite);
			}
		}
	}
}

.modal {

	& > .toggle ~ .window {
		display: none;
	}

	& > .toggle ~ .shadow {
		display: none;
	}

	& > .opener.toggle:checked ~ .window {
		display: inherit;
		position: fixed;
		width: 800px;
		top: 10%;
		z-index: 100;
		background-color: $white;
		border-radius: 16px;
		border: 2px solid $gray;
		padding: 8px 12px;
	}

	& > .opener.toggle:checked ~ .shadow {
		display: inherit;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.8;
		background-color: $black;
		z-index: 99;
	}

	.modal-header,
	.modal-footer {
		padding: 6px 12px;
		text-align: center;
	}

	.modal-header {
		height: 60px;
	}

	.modal-body {
		border: 0 solid $gray;
		border-width: 1px 0;
		padding: 6px 12px;
	}

	.modal-footer {
		padding-top: 18px;
		padding-bottom: 0;
		margin-bottom: 0;
		height: 32px;
	}
}
