/*
 * SimpleOneCss - A lightweight css3 framework
 *
 * Created by : White Rabbit
 *
 * This is the uncompiled version. Use it, if you have the proper compiler!
 * Otherwise choose the one with the same name and css extension or the minified version.
 *
 */
/*
*	$hl => Horizontal length
*	$vl => Vertical length
*	$br => Blur radius
*	$sr => Spread radius
*/
@-webkit-keyframes stripes {
  from {
    background-position: 40px 0; }
  to {
    background-position: 0 0; } }
@keyframes stripes {
  from {
    background-position: 40px 0; }
  to {
    background-position: 0 0; } }
.btn, .navtab .tab-label {
  background-color: transparent;
  cursor: pointer;
  border-style: solid;
  outline: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 8px 16px;
  border-width: 4px;
  border-radius: 8px;
  font-size: 1.5em;
  border-color: #4f4f4f;
  color: #4f4f4f; }
  .btn:hover, .navtab .tab-label:hover {
    background-color: #4f4f4f;
    color: #ffffff;
    position: relative; }
    .btn:hover[title]:before, .navtab .tab-label:hover[title]:before {
      content: attr(title);
      position: absolute;
      padding: 10px;
      left: -25%;
      bottom: 120%;
      width: 150%;
      z-index: 10;
      border: 1px solid #4f4f4f;
      border-radius: 6px;
      background-color: #ffffff;
      color: #4f4f4f; }
  .btn:active, .navtab .tab-label:active {
    background-color: #828282;
    color: #ffffff; }
  .btn:disabled, .navtab .tab-label:disabled {
    background-color: transparent;
    border-color: #8f8f8f;
    color: #8f8f8f;
    cursor: no-drop; }
  .btn.xs-sized, .navtab .xs-sized.tab-label {
    padding: 4px 8px;
    border-width: 2px;
    border-radius: 4px;
    font-size: 1em; }
  .btn.s-sized, .navtab .s-sized.tab-label {
    padding: 6px 12px;
    border-width: 3px;
    border-radius: 6px;
    font-size: 1.25em; }
  .btn.l-sized, .navtab .l-sized.tab-label {
    padding: 10px 20px;
    border-width: 5px;
    border-radius: 10px;
    font-size: 1.75em; }
  .btn.xl-sized, .navtab .xl-sized.tab-label {
    padding: 12px 24px;
    border-width: 6px;
    border-radius: 12px;
    font-size: 2em; }
  .btn.primary, .navtab .primary.tab-label {
    border-color: #3B5998;
    color: #3B5998; }
    .btn.primary:hover, .navtab .primary.tab-label:hover {
      background-color: #3B5998;
      color: #ffffff;
      position: relative; }
      .btn.primary:hover[title]:before, .navtab .primary.tab-label:hover[title]:before {
        content: attr(title);
        position: absolute;
        padding: 10px;
        left: -25%;
        bottom: 120%;
        width: 150%;
        z-index: 10;
        border: 1px solid #3B5998;
        border-radius: 6px;
        background-color: #ffffff;
        color: #3B5998; }
    .btn.primary:active, .navtab .primary.tab-label:active {
      background-color: #718dc8;
      color: #ffffff; }
    .btn.primary:disabled, .navtab .primary.tab-label:disabled {
      background-color: transparent;
      border-color: #839ccf;
      color: #839ccf;
      cursor: no-drop; }
  .btn.info, .navtab .info.tab-label {
    border-color: #00C8F8;
    color: #00C8F8; }
    .btn.info:hover, .navtab .info.tab-label:hover {
      background-color: #00C8F8;
      color: #ffffff;
      position: relative; }
      .btn.info:hover[title]:before, .navtab .info.tab-label:hover[title]:before {
        content: attr(title);
        position: absolute;
        padding: 10px;
        left: -25%;
        bottom: 120%;
        width: 150%;
        z-index: 10;
        border: 1px solid #00C8F8;
        border-radius: 6px;
        background-color: #ffffff;
        color: #00C8F8; }
    .btn.info:active, .navtab .info.tab-label:active {
      background-color: #5fe0ff;
      color: #ffffff; }
    .btn.info:disabled, .navtab .info.tab-label:disabled {
      background-color: transparent;
      border-color: #78e5ff;
      color: #78e5ff;
      cursor: no-drop; }
  .btn.warning, .navtab .warning.tab-label {
    border-color: #FFC300;
    color: #FFC300; }
    .btn.warning:hover, .navtab .warning.tab-label:hover {
      background-color: #FFC300;
      color: #ffffff;
      position: relative; }
      .btn.warning:hover[title]:before, .navtab .warning.tab-label:hover[title]:before {
        content: attr(title);
        position: absolute;
        padding: 10px;
        left: -25%;
        bottom: 120%;
        width: 150%;
        z-index: 10;
        border: 1px solid #FFC300;
        border-radius: 6px;
        background-color: #ffffff;
        color: #FFC300; }
    .btn.warning:active, .navtab .warning.tab-label:active {
      background-color: #ffdb66;
      color: #ffffff; }
    .btn.warning:disabled, .navtab .warning.tab-label:disabled {
      background-color: transparent;
      border-color: #ffe180;
      color: #ffe180;
      cursor: no-drop; }
  .btn.error, .navtab .error.tab-label {
    border-color: #f73500;
    color: #f73500; }
    .btn.error:hover, .navtab .error.tab-label:hover {
      background-color: #f73500;
      color: #ffffff;
      position: relative; }
      .btn.error:hover[title]:before, .navtab .error.tab-label:hover[title]:before {
        content: attr(title);
        position: absolute;
        padding: 10px;
        left: -25%;
        bottom: 120%;
        width: 150%;
        z-index: 10;
        border: 1px solid #f73500;
        border-radius: 6px;
        background-color: #ffffff;
        color: #f73500; }
    .btn.error:active, .navtab .error.tab-label:active {
      background-color: #ff815e;
      color: #ffffff; }
    .btn.error:disabled, .navtab .error.tab-label:disabled {
      background-color: transparent;
      border-color: #ff9578;
      color: #ff9578;
      cursor: no-drop; }
  .btn.success, .navtab .success.tab-label {
    border-color: #2B9464;
    color: #2B9464; }
    .btn.success:hover, .navtab .success.tab-label:hover {
      background-color: #2B9464;
      color: #ffffff;
      position: relative; }
      .btn.success:hover[title]:before, .navtab .success.tab-label:hover[title]:before {
        content: attr(title);
        position: absolute;
        padding: 10px;
        left: -25%;
        bottom: 120%;
        width: 150%;
        z-index: 10;
        border: 1px solid #2B9464;
        border-radius: 6px;
        background-color: #ffffff;
        color: #2B9464; }
    .btn.success:active, .navtab .success.tab-label:active {
      background-color: #57ce98;
      color: #ffffff; }
    .btn.success:disabled, .navtab .success.tab-label:disabled {
      background-color: transparent;
      border-color: #6bd4a4;
      color: #6bd4a4;
      cursor: no-drop; }

.input {
  margin: 12px;
  padding: 6px 12px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  font-size: 1em;
  display: block;
  outline: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-color: #c1c1c1;
  width: 350px; }
  .input::-webkit-input-placeholder {
    color: #c1c1c1; }
  .input::-moz-placeholder {
    color: #c1c1c1; }
  .input:-ms-input-placeholder {
    color: #c1c1c1; }
  .input:focus:not([type='checkbox']):not([type='radio']) {
    -webkit-box-shadow: 0px 0px 10px 0px #c1c1c1;
    -moz-box-shadow: 0px 0px 10px 0px #c1c1c1;
    box-shadow: 0px 0px 10px 0px #c1c1c1; }
    .input:focus:not([type='checkbox']):not([type='radio'])::-webkit-input-placeholder {
      color: transparent; }
    .input:focus:not([type='checkbox']):not([type='radio'])::-moz-placeholder {
      color: transparent; }
    .input:focus:not([type='checkbox']):not([type='radio']):-ms-input-placeholder {
      color: transparent; }
  .input[type='checkbox'], .input[type='radio'] {
    margin-left: -125px;
    margin-right: -100px; }
    .input[type='checkbox'].inline, .form-container.inline .input[type='checkbox'], .input[type='radio'].inline, .form-container.inline .input[type='radio'] {
      width: 300px;
      padding: 6px 12px; }
  .input.xs-sized, .form-container.xs-sized .input {
    width: 150px; }
    .input.xs-sized[type='checkbox'], .input.xs-sized[type='radio'], .form-container.xs-sized .input[type='checkbox'], .form-container.xs-sized .input[type='radio'] {
      margin-left: -155px;
      margin-right: -130px; }
      .input.xs-sized[type='checkbox'].inline, .form-container.inline .input.xs-sized[type='checkbox'], .input.xs-sized[type='radio'].inline, .form-container.inline .input.xs-sized[type='radio'], .form-container.xs-sized .input[type='checkbox'].inline, .form-container.inline .form-container.xs-sized .input[type='checkbox'], .form-container.xs-sized .input[type='radio'].inline, .form-container.inline .form-container.xs-sized .input[type='radio'] {
        width: 200px;
        padding: 6px 12px; }
  .input.s-sized, .form-container.s-sized .input {
    width: 250px; }
    .input.s-sized[type='checkbox'], .input.s-sized[type='radio'], .form-container.s-sized .input[type='checkbox'], .form-container.s-sized .input[type='radio'] {
      margin-left: -140px;
      margin-right: -115px; }
      .input.s-sized[type='checkbox'].inline, .form-container.inline .input.s-sized[type='checkbox'], .input.s-sized[type='radio'].inline, .form-container.inline .input.s-sized[type='radio'], .form-container.s-sized .input[type='checkbox'].inline, .form-container.inline .form-container.s-sized .input[type='checkbox'], .form-container.s-sized .input[type='radio'].inline, .form-container.inline .form-container.s-sized .input[type='radio'] {
        width: 250px;
        padding: 6px 12px; }
  .input.l-sized, .form-container.l-sized .input {
    width: 450px; }
    .input.l-sized[type='checkbox'], .input.l-sized[type='radio'], .form-container.l-sized .input[type='checkbox'], .form-container.l-sized .input[type='radio'] {
      margin-left: -110px;
      margin-right: -85px; }
      .input.l-sized[type='checkbox'].inline, .form-container.inline .input.l-sized[type='checkbox'], .input.l-sized[type='radio'].inline, .form-container.inline .input.l-sized[type='radio'], .form-container.l-sized .input[type='checkbox'].inline, .form-container.inline .form-container.l-sized .input[type='checkbox'], .form-container.l-sized .input[type='radio'].inline, .form-container.inline .form-container.l-sized .input[type='radio'] {
        width: 350px;
        padding: 6px 12px; }
  .input.xl-sized, .form-container.xl-sized .input {
    width: 550px; }
    .input.xl-sized[type='checkbox'], .input.xl-sized[type='radio'], .form-container.xl-sized .input[type='checkbox'], .form-container.xl-sized .input[type='radio'] {
      margin-left: -95px;
      margin-right: -70px; }
      .input.xl-sized[type='checkbox'].inline, .form-container.inline .input.xl-sized[type='checkbox'], .input.xl-sized[type='radio'].inline, .form-container.inline .input.xl-sized[type='radio'], .form-container.xl-sized .input[type='checkbox'].inline, .form-container.inline .form-container.xl-sized .input[type='checkbox'], .form-container.xl-sized .input[type='radio'].inline, .form-container.inline .form-container.xl-sized .input[type='radio'] {
        width: 400px;
        padding: 6px 12px; }
  .input.required, .form-container.required .input {
    border-color: #3B5998; }
    .input.required::-webkit-input-placeholder, .form-container.required .input::-webkit-input-placeholder {
      color: #3B5998; }
    .input.required::-moz-placeholder, .form-container.required .input::-moz-placeholder {
      color: #3B5998; }
    .input.required:-ms-input-placeholder, .form-container.required .input:-ms-input-placeholder {
      color: #3B5998; }
    .input.required:focus:not([type='checkbox']):not([type='radio']), .form-container.required .input:focus:not([type='checkbox']):not([type='radio']) {
      -webkit-box-shadow: 0px 0px 10px 0px #3B5998;
      -moz-box-shadow: 0px 0px 10px 0px #3B5998;
      box-shadow: 0px 0px 10px 0px #3B5998; }
      .input.required:focus:not([type='checkbox']):not([type='radio'])::-webkit-input-placeholder, .form-container.required .input:focus:not([type='checkbox']):not([type='radio'])::-webkit-input-placeholder {
        color: transparent; }
      .input.required:focus:not([type='checkbox']):not([type='radio'])::-moz-placeholder, .form-container.required .input:focus:not([type='checkbox']):not([type='radio'])::-moz-placeholder {
        color: transparent; }
      .input.required:focus:not([type='checkbox']):not([type='radio']):-ms-input-placeholder, .form-container.required .input:focus:not([type='checkbox']):not([type='radio']):-ms-input-placeholder {
        color: transparent; }
  .input.optional, .form-container.optional .input {
    border-color: #00C8F8; }
    .input.optional::-webkit-input-placeholder, .form-container.optional .input::-webkit-input-placeholder {
      color: #00C8F8; }
    .input.optional::-moz-placeholder, .form-container.optional .input::-moz-placeholder {
      color: #00C8F8; }
    .input.optional:-ms-input-placeholder, .form-container.optional .input:-ms-input-placeholder {
      color: #00C8F8; }
    .input.optional:focus:not([type='checkbox']):not([type='radio']), .form-container.optional .input:focus:not([type='checkbox']):not([type='radio']) {
      -webkit-box-shadow: 0px 0px 10px 0px #00C8F8;
      -moz-box-shadow: 0px 0px 10px 0px #00C8F8;
      box-shadow: 0px 0px 10px 0px #00C8F8; }
      .input.optional:focus:not([type='checkbox']):not([type='radio'])::-webkit-input-placeholder, .form-container.optional .input:focus:not([type='checkbox']):not([type='radio'])::-webkit-input-placeholder {
        color: transparent; }
      .input.optional:focus:not([type='checkbox']):not([type='radio'])::-moz-placeholder, .form-container.optional .input:focus:not([type='checkbox']):not([type='radio'])::-moz-placeholder {
        color: transparent; }
      .input.optional:focus:not([type='checkbox']):not([type='radio']):-ms-input-placeholder, .form-container.optional .input:focus:not([type='checkbox']):not([type='radio']):-ms-input-placeholder {
        color: transparent; }
  .input.warning, .form-container.warning .input {
    border-color: #FFC300; }
    .input.warning::-webkit-input-placeholder, .form-container.warning .input::-webkit-input-placeholder {
      color: #FFC300; }
    .input.warning::-moz-placeholder, .form-container.warning .input::-moz-placeholder {
      color: #FFC300; }
    .input.warning:-ms-input-placeholder, .form-container.warning .input:-ms-input-placeholder {
      color: #FFC300; }
    .input.warning:focus:not([type='checkbox']):not([type='radio']), .form-container.warning .input:focus:not([type='checkbox']):not([type='radio']) {
      -webkit-box-shadow: 0px 0px 10px 0px #FFC300;
      -moz-box-shadow: 0px 0px 10px 0px #FFC300;
      box-shadow: 0px 0px 10px 0px #FFC300; }
      .input.warning:focus:not([type='checkbox']):not([type='radio'])::-webkit-input-placeholder, .form-container.warning .input:focus:not([type='checkbox']):not([type='radio'])::-webkit-input-placeholder {
        color: transparent; }
      .input.warning:focus:not([type='checkbox']):not([type='radio'])::-moz-placeholder, .form-container.warning .input:focus:not([type='checkbox']):not([type='radio'])::-moz-placeholder {
        color: transparent; }
      .input.warning:focus:not([type='checkbox']):not([type='radio']):-ms-input-placeholder, .form-container.warning .input:focus:not([type='checkbox']):not([type='radio']):-ms-input-placeholder {
        color: transparent; }
  .input.invalid, .form-container.invalid .input {
    border-color: #f73500; }
    .input.invalid::-webkit-input-placeholder, .form-container.invalid .input::-webkit-input-placeholder {
      color: #f73500; }
    .input.invalid::-moz-placeholder, .form-container.invalid .input::-moz-placeholder {
      color: #f73500; }
    .input.invalid:-ms-input-placeholder, .form-container.invalid .input:-ms-input-placeholder {
      color: #f73500; }
    .input.invalid:focus:not([type='checkbox']):not([type='radio']), .form-container.invalid .input:focus:not([type='checkbox']):not([type='radio']) {
      -webkit-box-shadow: 0px 0px 10px 0px #f73500;
      -moz-box-shadow: 0px 0px 10px 0px #f73500;
      box-shadow: 0px 0px 10px 0px #f73500; }
      .input.invalid:focus:not([type='checkbox']):not([type='radio'])::-webkit-input-placeholder, .form-container.invalid .input:focus:not([type='checkbox']):not([type='radio'])::-webkit-input-placeholder {
        color: transparent; }
      .input.invalid:focus:not([type='checkbox']):not([type='radio'])::-moz-placeholder, .form-container.invalid .input:focus:not([type='checkbox']):not([type='radio'])::-moz-placeholder {
        color: transparent; }
      .input.invalid:focus:not([type='checkbox']):not([type='radio']):-ms-input-placeholder, .form-container.invalid .input:focus:not([type='checkbox']):not([type='radio']):-ms-input-placeholder {
        color: transparent; }
  .input.valid, .form-container.valid .input {
    border-color: #2B9464; }
    .input.valid::-webkit-input-placeholder, .form-container.valid .input::-webkit-input-placeholder {
      color: #2B9464; }
    .input.valid::-moz-placeholder, .form-container.valid .input::-moz-placeholder {
      color: #2B9464; }
    .input.valid:-ms-input-placeholder, .form-container.valid .input:-ms-input-placeholder {
      color: #2B9464; }
    .input.valid:focus:not([type='checkbox']):not([type='radio']), .form-container.valid .input:focus:not([type='checkbox']):not([type='radio']) {
      -webkit-box-shadow: 0px 0px 10px 0px #2B9464;
      -moz-box-shadow: 0px 0px 10px 0px #2B9464;
      box-shadow: 0px 0px 10px 0px #2B9464; }
      .input.valid:focus:not([type='checkbox']):not([type='radio'])::-webkit-input-placeholder, .form-container.valid .input:focus:not([type='checkbox']):not([type='radio'])::-webkit-input-placeholder {
        color: transparent; }
      .input.valid:focus:not([type='checkbox']):not([type='radio'])::-moz-placeholder, .form-container.valid .input:focus:not([type='checkbox']):not([type='radio'])::-moz-placeholder {
        color: transparent; }
      .input.valid:focus:not([type='checkbox']):not([type='radio']):-ms-input-placeholder, .form-container.valid .input:focus:not([type='checkbox']):not([type='radio']):-ms-input-placeholder {
        color: transparent; }

.label {
  text-align: left;
  padding-left: 15px;
  width: 180px; }
  .label.text-right {
    text-align: right; }
  .label.xs-sized, .form-container.xs-sized .label {
    width: 100px; }
  .label.s-sized, .form-container.s-sized .label {
    width: 140px; }
  .label.l-sized, .form-container.l-sized .label {
    width: 220px; }
  .label.xl-sized, .form-container.xl-sized .label {
    width: 260px; }
  .label.required, .form-container.required .label {
    color: #3B5998; }
  .label.optional, .form-container.optional .label {
    color: #00C8F8; }
  .label.warning, .form-container.warning .label {
    color: #FFC300; }
  .label.invalid, .form-container.invalid .label {
    color: #f73500; }
  .label.valid, .form-container.valid .label {
    color: #2B9464; }

.input.inline, .form-container.inline .input,
.label.inline, .form-container.inline
.label {
  display: inline-block; }

textarea.input {
  -webkit-transition: box-shadow 0.3s, -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s, -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s, -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s; }

.form-container {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 6px 0; }

.table {
  text-align: left;
  width: 100%;
  border-spacing: 0; }
  .table th {
    border-bottom: 2px solid #c1c1c1; }
  .table td {
    border-bottom: 1px solid #c1c1c1; }
  .table td, .table th {
    padding: 6px 10px; }
  .table tr.active {
    background-color: #ababab; }
    .table tr.active td {
      border-color: white; }
  .table tr.info {
    background-color: #b1f0ff; }
    .table tr.info td {
      border-color: white; }
  .table tr.warning {
    background-color: #ffeeb8; }
    .table tr.warning td {
      border-color: white; }
  .table tr.danger {
    background-color: #ffc1b0; }
    .table tr.danger td {
      border-color: white; }
  .table tr.success {
    background-color: #96e1be; }
    .table tr.success td {
      border-color: white; }
  .table.hover tbody > tr:hover {
    background-color: #dfdfdf; }
  .table.hover tr.active:hover {
    background-color: #8f8f8f; }
  .table.hover tr.info:hover {
    background-color: #78e5ff; }
  .table.hover tr.warning:hover {
    background-color: #ffe180; }
  .table.hover tr.danger:hover {
    background-color: #ff9578; }
  .table.hover tr.success:hover {
    background-color: #6bd4a4; }
  .table.stripped tbody > tr:nth-child(2n+0) {
    background-color: #f7f7f7; }
  .table.bordered th {
    border-top: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    border-bottom: 2px solid #c1c1c1; }
    .table.bordered th:last-child {
      border-right: 1px solid #c1c1c1; }
  .table.bordered tbody td {
    border-left: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1; }
    .table.bordered tbody td:last-child {
      border-right: 1px solid #c1c1c1; }

input.toggle[type='radio'],
input.toggle[type='checkbox'] {
  display: none; }

.navtab {
  position: relative;
  margin: 16px 16px 100px 16px;
  padding: 6px;
  min-height: 100px; }
  .navtab li {
    display: inline-block; }
    .navtab li:first-of-type {
      margin-left: 40px; }
  .navtab .toggle ~ .tab-content {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    overflow: hidden;
    position: absolute;
    height: 0;
    left: 0;
    margin: 14px;
    padding: 10px;
    z-index: 10;
    border: 2px solid transparent;
    border-radius: 10px;
    color: transparent; }
  .navtab .toggle:checked ~ .tab-content {
    border-color: #4f4f4f;
    height: 100%;
    color: black; }
  .navtab .toggle:checked ~ .tab-label {
    text-decoration: underline; }
  .navtab.pills .toggle:checked ~ .tab-label {
    border: 10px solid transparent; }
  .navtab.tabs .toggle:checked ~ .tab-label {
    border-bottom: none;
    z-index: 100;
    padding-bottom: 14px;
    border-radius: 8px 8px 0 0; }

.navbar {
  background-color: #eaeaea;
  padding-left: 20px; }
  .navbar.fixed-top, .navbar.fixed-bottom {
    position: fixed;
    width: 100%;
    left: 0; }
  .navbar.fixed-top {
    top: 0; }
  .navbar.fixed-bottom {
    bottom: 0; }
  .navbar .menu,
  .navbar .title {
    display: inline-block;
    cursor: pointer;
    margin: 0 32px; }
  .navbar .title {
    padding: 16px 24px;
    font-size: 1.5em; }
    .navbar .title:hover {
      text-decoration: underline; }
  .navbar .menu {
    padding: 0;
    list-style-type: none; }
    .navbar .menu > li {
      position: relative;
      display: inline-block; }
      .navbar .menu > li > a,
      .navbar .menu > li .dropdown {
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        padding: 24px 16px 16px 16px;
        color: #4f4f4f;
        text-decoration: none;
        border-bottom: 3px solid transparent; }
        .navbar .menu > li > a:hover,
        .navbar .menu > li .dropdown:hover {
          color: white;
          background-color: #c1c1c1;
          border-bottom-color: #4f4f4f; }
      .navbar .menu > li.active > a, .navbar .menu > li.active .dropdown {
        color: white;
        background-color: #4f4f4f;
        border-bottom-color: black; }
        .navbar .menu > li.active > a:hover, .navbar .menu > li.active .dropdown:hover {
          background-color: #c1c1c1; }
  .navbar .toggle ~ .submenu,
  .navbar .hover ~ .submenu {
    display: none; }
  .navbar .dropdown {
    cursor: pointer; }
  .navbar .toggle:checked ~ .submenu,
  .navbar .hover:hover ~ .submenu,
  .navbar .hover ~ .submenu:hover {
    display: block;
    position: absolute;
    margin-top: 18px;
    padding: 0;
    left: 0;
    top: 100%;
    border: 1px solid #eaeaea; }
    .navbar .toggle:checked ~ .submenu li,
    .navbar .hover:hover ~ .submenu li,
    .navbar .hover ~ .submenu:hover li {
      background-color: white;
      display: inline-block;
      min-width: 150px;
      height: 100%;
      padding: 6px 12px;
      border: 2px solid transparent; }
      .navbar .toggle:checked ~ .submenu li a,
      .navbar .hover:hover ~ .submenu li a,
      .navbar .hover ~ .submenu:hover li a {
        padding: 12px 6px;
        text-decoration: none;
        color: #4f4f4f; }
      .navbar .toggle:checked ~ .submenu li:hover,
      .navbar .hover:hover ~ .submenu li:hover,
      .navbar .hover ~ .submenu:hover li:hover {
        border-left: 2px solid #4f4f4f;
        background-color: #eaeaea; }
    .navbar .toggle:checked ~ .submenu .active,
    .navbar .hover:hover ~ .submenu .active,
    .navbar .hover ~ .submenu:hover .active {
      border-left: 2px solid #4f4f4f;
      background-color: #c1c1c1; }

.list {
  list-style-type: none;
  padding: 16px 8px; }
  .list li {
    padding: 12px 24px;
    margin: 12px; }
  .list.border li {
    border: 1px solid #c1c1c1;
    border-radius: 4px; }
  .list.border.hover li:hover {
    background-color: #f4f4f4; }
  .list.box {
    padding: 32px 16px;
    border: 1px solid #c1c1c1;
    border-radius: 4px; }
    .list.box li {
      border-bottom: 1px solid rgba(193, 193, 193, 0.5);
      margin: 0 12px;
      padding: 16px 24px; }
      .list.box li:first-of-type {
        border-top: 1px solid rgba(193, 193, 193, 0.5); }
    .list.box.hover li:hover {
      background-color: #f4f4f4; }

.outer-1 .inner-1 {
  width: 100%;
  display: inline-block; }
.outer-1 .inner-2 {
  width: 200%;
  display: inline-block; }
.outer-1 .inner-3 {
  width: 300%;
  display: inline-block; }
.outer-1 .inner-4 {
  width: 400%;
  display: inline-block; }
.outer-1 .inner-5 {
  width: 500%;
  display: inline-block; }
.outer-1 .offset-1 {
  margin-left: 100%; }
.outer-1 .offset-2 {
  margin-left: 200%; }
.outer-1 .offset-3 {
  margin-left: 300%; }
.outer-1 .offset-4 {
  margin-left: 400%; }

.outer-2 .inner-1 {
  width: 50%;
  display: inline-block; }
.outer-2 .inner-2 {
  width: 100%;
  display: inline-block; }
.outer-2 .inner-3 {
  width: 150%;
  display: inline-block; }
.outer-2 .inner-4 {
  width: 200%;
  display: inline-block; }
.outer-2 .inner-5 {
  width: 250%;
  display: inline-block; }
.outer-2 .offset-1 {
  margin-left: 50%; }
.outer-2 .offset-2 {
  margin-left: 100%; }
.outer-2 .offset-3 {
  margin-left: 150%; }
.outer-2 .offset-4 {
  margin-left: 200%; }

.outer-3 .inner-1 {
  width: 33.33333%;
  display: inline-block; }
.outer-3 .inner-2 {
  width: 66.66667%;
  display: inline-block; }
.outer-3 .inner-3 {
  width: 100%;
  display: inline-block; }
.outer-3 .inner-4 {
  width: 133.33333%;
  display: inline-block; }
.outer-3 .inner-5 {
  width: 166.66667%;
  display: inline-block; }
.outer-3 .offset-1 {
  margin-left: 33.33333%; }
.outer-3 .offset-2 {
  margin-left: 66.66667%; }
.outer-3 .offset-3 {
  margin-left: 100%; }
.outer-3 .offset-4 {
  margin-left: 133.33333%; }

.outer-4 .inner-1 {
  width: 25%;
  display: inline-block; }
.outer-4 .inner-2 {
  width: 50%;
  display: inline-block; }
.outer-4 .inner-3 {
  width: 75%;
  display: inline-block; }
.outer-4 .inner-4 {
  width: 100%;
  display: inline-block; }
.outer-4 .inner-5 {
  width: 125%;
  display: inline-block; }
.outer-4 .offset-1 {
  margin-left: 25%; }
.outer-4 .offset-2 {
  margin-left: 50%; }
.outer-4 .offset-3 {
  margin-left: 75%; }
.outer-4 .offset-4 {
  margin-left: 100%; }

.outer-5 .inner-1 {
  width: 20%;
  display: inline-block; }
.outer-5 .inner-2 {
  width: 40%;
  display: inline-block; }
.outer-5 .inner-3 {
  width: 60%;
  display: inline-block; }
.outer-5 .inner-4 {
  width: 80%;
  display: inline-block; }
.outer-5 .inner-5 {
  width: 100%;
  display: inline-block; }
.outer-5 .offset-1 {
  margin-left: 20%; }
.outer-5 .offset-2 {
  margin-left: 40%; }
.outer-5 .offset-3 {
  margin-left: 60%; }
.outer-5 .offset-4 {
  margin-left: 80%; }

.sources {
  font-family: monospace;
  counter-reset: section;
  padding: 12px 18px; }
  .sources.code-container {
    border: 1px solid #4f4f4f;
    border-radius: 16px;
    background-color: #eaeaea; }
  .sources span {
    white-space: pre-wrap;
    display: block; }
  .sources.rownumbers span {
    counter-increment: section; }
    .sources.rownumbers span:before {
      content: counter(section) ".	";
      color: #c1c1c1; }

.toggle-box {
  border: 1px solid #c1c1c1;
  border-radius: 6px;
  padding: 6px 12px; }
  .toggle-box .wrapper {
    margin: 6px;
    padding: 6px;
    border-bottom: 1px solid #eaeaea; }
    .toggle-box .wrapper:last-child {
      border-bottom: none; }
  .toggle-box .toggle ~ .box-content {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    margin: 0 3px;
    height: 0;
    color: transparent;
    overflow: hidden; }
  .toggle-box .toggle ~ .box-label {
    cursor: pointer;
    font-size: 1.25em; }
  .toggle-box .toggle:checked ~ .box-content {
    padding-top: 12px;
    min-height: 150px;
    color: black; }
  .toggle-box .toggle:checked ~ .box-label {
    text-decoration: underline; }

.breadcrumb {
  list-style-type: none;
  width: 100%;
  margin: 6px 12px;
  padding: 12px 24px;
  font-size: 1.5em; }
  .breadcrumb.border {
    border-radius: 10px;
    border: 1px solid #eaeaea; }
  .breadcrumb li {
    display: inline-block; }
    .breadcrumb li.active,
    .breadcrumb li .active {
      color: #4f4f4f; }
    .breadcrumb li a {
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      color: #a8a8a8;
      text-decoration: none; }
      .breadcrumb li a:hover {
        color: #2f2f2f;
        text-decoration: underline; }
  .breadcrumb li:not(:last-of-type):after {
    margin: 0 10px 0 20px;
    padding: 6px; }
  .breadcrumb li:not(:last-of-type):after {
    content: '/'; }
  .breadcrumb.dots li:not(:last-of-type):after {
    content: '.'; }
  .breadcrumb.lines li:not(:last-of-type):after {
    content: '--';
    letter-spacing: -3px; }
  .breadcrumb.pipes li:not(:last-of-type):after {
    content: '|'; }

.pagination {
  list-style-type: none; }
  .pagination ul {
    display: inline-block; }
  .pagination li {
    display: inline; }
    .pagination li.active a {
      background-color: #c1c1c1;
      color: #ffffff; }
      .pagination li.active a:hover {
        background-color: #4f4f4f;
        text-decoration: underline; }
    .pagination li.disabled a {
      border-color: #eaeaea;
      cursor: not-allowed; }
    .pagination li:not(.disabled):not(.active) a:hover {
      color: #ffffff;
      background-color: #4f4f4f;
      text-decoration: underline; }
    .pagination li a {
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      border: 1px solid #c1c1c1;
      border-radius: 6px;
      padding: 6px 12px;
      font-size: 1.25em;
      font-weight: bolder;
      color: #a8a8a8;
      text-decoration: none; }
  .pagination.rounded a {
    border-radius: 100%; }

.badge {
  padding: 6px 12px;
  margin: 6px;
  color: #ffffff;
  background-color: #c1c1c1;
  border-radius: 6px; }
  .badge.primary {
    background-color: #3B5998; }
  .badge.info {
    background-color: #00C8F8; }
  .badge.warning {
    background-color: #FFC300; }
  .badge.error {
    background-color: #f73500; }
  .badge.success {
    background-color: #2B9464; }

.container {
  background-color: #fcfcfc;
  border: 1px solid #4f4f4f;
  margin: 24px 12px;
  border-radius: 18px;
  padding: 18px 36px;
  font-size: 1.15em; }
  .container.xs-sized {
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 0.85em; }
  .container.s-sized {
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 1em; }
  .container.l-sized {
    border-radius: 24px;
    padding: 24px 48px;
    font-size: 1.3em; }
  .container.xl-sized {
    border-radius: 30px;
    padding: 30px 60px;
    font-size: 1.45em; }

.alert {
  margin: 12px 6px;
  padding: 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: 8px;
  color: #ffffff;
  border: 2px solid #4f4f4f;
  background-color: dimgray;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  .alert.primary {
    border-color: #3B5998;
    background-color: #4c70ba; }
    .alert.primary:hover {
      background-color: #3B5998; }
  .alert.info {
    border-color: #00C8F8;
    background-color: #2cd6ff; }
    .alert.info:hover {
      background-color: #00C8F8; }
  .alert.warning {
    border-color: #FFC300;
    background-color: #ffcf33; }
    .alert.warning:hover {
      background-color: #FFC300; }
  .alert.error {
    border-color: #f73500;
    background-color: #ff582b; }
    .alert.error:hover {
      background-color: #f73500; }
  .alert.success {
    border-color: #2B9464;
    background-color: #36bc7f; }
    .alert.success:hover {
      background-color: #2B9464; }
  .alert:hover {
    background-color: #4f4f4f; }

.progress {
  width: 100%;
  height: 30px;
  margin: 12px 6px;
  background-color: #eaeaea;
  border-radius: 12px;
  overflow: hidden; }
  .progress .bar {
    height: 100%;
    display: inline-block;
    background-color: #4f4f4f;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    .progress .bar.primary {
      background-color: #3B5998; }
    .progress .bar.info {
      background-color: #00C8F8; }
    .progress .bar.warning {
      background-color: #FFC300; }
    .progress .bar.error {
      background-color: #f73500; }
    .progress .bar.success {
      background-color: #2B9464; }
    .progress .bar .indicator {
      padding: 6px;
      color: #ffffff;
      display: block;
      text-align: center; }
    .progress .bar.stripped {
      background-size: 40px 40px;
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }
      .progress .bar.stripped.animated {
        -webkit-animation: stripes 1s linear infinite;
        animation: stripes 1s linear infinite; }

/*# sourceMappingURL=simple_one.css.map */
